<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  .jumbotron {
    background-color: #f4511e;
    color: #fff;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="width:100%; height:90rem;">
  <h1 style="margin-top:16%;">George Travels</h1>
  <p>We specialize in Travel</p>
    <a href="/admin"><button type="button" class="btn" style="-webkit-box-shadow: 10px 10px 58px -1px rgba(15,15,15,1);
-moz-box-shadow: 10px 10px 58px -1px rgba(15,15,15,1);
box-shadow: 10px 10px 58px -1px rgba(15,15,15,1);
width:150px; height:50px;background-color:black;color:white">Login to Continue</button></a>
</div>

</body>
</html>
